/* sheared styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;700;800&family=Roboto:wght@400;700&display=swap');

body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background: #FFF;
}

/* Header Section styles */
header {
    margin: 100px 120px;
}

/* nav styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #3A3A3A;
    font-weight: 700;
    font-size: 24px;
}

.nav a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 700;
    font-size: 16px;
    padding-left: 30px;
}

.nav-anchors {
    display: flex;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
    margin-top: 50px;
}

.banner-title {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 0;
}

.banner-description {
    color: #3A3A3A;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
}

.banner-btn {
    color: #FFF;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
    margin-top: 0;
}

.pre-book {
    padding-right: 8px;
}

.banner-img {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 440px;
    height: 414px;
}

/* main section */
/* sponsor section */
.sponsors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 165px 100px 165px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
}

.sponsor-img {
    padding: 30px;
}

/* collection section */
.collection-title {
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 700;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.card-btn {
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    text-align: center;
    border: 0;
    background: none;
    padding: 50px;
    
}
/* .collection button{
    object-position: right;
} */

/* feature section */
.feature-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin: 100px 165px;
}

.feature-title {
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
}

.feature-description {
    color: #6C6C6C;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
}

.feature-btn {
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    color: #FFF;
    font-weight: 700;
    border: none;
}

/* Footer section */
.footer{
    background: #0A0826;
    color: #FFF;
    text-align: center;
    padding: 50px 200px;
    
}

/* Responsive styles */

/* mobile device */
@media screen and (max-width:576px) {

    /* header */
    header {
        margin: 20px;
    }

    nav {
        flex-direction: column;
    }

    .nav-anchors {
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .banner-content {
        text-align: center;
    }

    /* sponsor */
    .sponsors {
        flex-wrap: wrap;
        background: none;
        margin: 50px 20px;
        padding: 10px;
    }

    /* Collection section */
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

}

/* middle size device */
@media screen and (min-width: 576px) and (max-width: 960px) {

    /* header */
    header {
        margin: 50px;
    }

    nav {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 20px;
    }

    /* sponsor */
    .sponsors {
        flex-wrap: wrap;
        background: none;
        margin: 50px 20px;
        padding: 10px;
    }

    /* collection */
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-left: 100px;
        margin-right: 100px;
    }
}